@import "tailwindcss";

@theme {
  --color-harmonia-bg: #212121;
  --color-harmonia-purple: #E300FF;
  --color-harmonia-gray: #BDBDBD;
  --color-harmonia-purple-glow: #8A38F5;
}

:root {
  --foreground-rgb: 255, 255, 255;
}

body {
  background-color: var(--color-harmonia-bg);
  color: #fff;
}

@keyframes carregarLista {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animacao-entrada {
  animation: carregarLista 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}